[2018-01-18 18:42] TimothyLoyer opened #2 "Must use {{ fieldName.value.value.color }} to access property"
I believe this is because the JSON the model constructor gets already contains a value key. I believe accessing this key when you store it on the public class property will fix this so the magic method can access the properties in $this->value properly.

`    public function __construct($value)
    {
        $this->value = json_decode($value).value;
    }
`

[2018-01-18 19:06] Rias500 commented on #2
Thanks for reporting this!

[2018-01-19 15:47] TimothyLoyer commented on #2
No problem- but it ends up I've given you bad advice as this has had a negative effect. When you try to edit an entry with this field now, it breaks because it cannot find ->value. I'm not entirely sure how and when Craft is invoking your models, or what the data going into it looks like- so I'm not sure how to help though.

[2018-01-19 16:39] #2 closed

[2018-01-19 16:40] Rias500 commented on #2
@TimothyLoyer Went through the full plugin and changed some things to fix this at the core now, try the new release and let me know if everything runs as expected! :)

[2018-01-25 09:22] H-i-red opened #4 "craft-colour-drops"
Hi man,

Great plugin!
Any chance for a craft-colour-drops plugin ? ;)
![colorme](https://user-images.githubusercontent.com/19476159/35380350-4f7aafaa-01b9-11e8-9700-70d28844a739.jpg)
Perhaps using checkboxes instead of radiobuttons, to let user select one or more colors..
Best regards /

Fredrik

[2018-01-25 09:45] Rias500 commented on #4
If I understand correctly you'd like it to be a dropdown instead of how it looks now?

[2018-01-25 09:51] H-i-red commented on #4
Hi, no, I was thinking of a new plugin called **craft-colour-drops.** I like this one with swatches. I actually hacked your plugin and added a simple js file, changed some css, and I have a drop down...; )But It would be super nice to have it as plugin instead..

[2018-01-25 09:53] Rias500 commented on #4
You can always create a plugin out of it! Nothing is stopping you ;)

[2018-01-25 09:55] H-i-red commented on #4
Was waiting for that answer lol.. o well, here I go... launch date this year if everything goes alright..haha

[2018-01-25 09:57] Rias500 commented on #4
Good luck 😀

[2018-01-25 09:57] #4 closed

[2018-02-09 15:59] tyler-deboer opened #5 "PHP error when saving as a draft"
Repro: I have an entry with a matrix field that includes a Colour Swatch block.  When I try saving an entry as a draft, I get an error.

[code]

The stack trace tells me that it's related to [line 20](https://github.com/Rias500/craft-colour-swatches/blob/master/src/models/ColourSwatches.php#L20) in `/src/models/ColourSwatches.php`

[2018-02-11 20:49] #5 closed

[2018-02-11 20:50] Rias500 commented on #5
This should be fixed in the new release, let me know if you have any other issues!

[2018-03-14 09:41] wormmoon opened #6 "Breaks craft when changing existing fields to colour swatch field type"
Hello,

I'm currently using radio buttons to select a colour option, but when I change that field type to the colour swatch field type it breaks the admin side and the front end of any page that contains that field. Here's the error:

PHP Notice – yii\base\ErrorException
Trying to get property of non-object

The plug in also doesn't warn you there will be data loss in this case even though all dat

[2018-03-18 15:25] Rias500 commented on #6
Hi @wormmoon

Craft clearly warns that there might be data loss when switching the type of the field:

<img width="296" alt="afbeelding" src="https://user-images.githubusercontent.com/3626559/37567526-9f9d6de6-2ac8-11e8-8486-4a14662f11c7.png">

If you want to be able to change from radio buttons to the plugin, you could write a [Content Migration](https://github.com/craftcms/docs/blob/v3/en/conten

[2018-03-18 15:25] #6 closed

[2018-04-05 21:23] CreateSean opened #7 "RGBA instead of Hex"
I would love to see an option to have colors with RGBA instead of hex. This way the client could choose from different levels of transparency on a single color.

i.e.

rgb(147, 147, 147)
rgba(147, 147, 147, 0.8)
rgba(147, 147, 147, 0.6)
rgba(147, 147, 147, 0.4)

So 4 different grey's where they can choose the transparency as needed.

[2018-04-05 21:40] Rias500 commented on #7
Actually ran into this today too :) Fixed in the new release! You can now use `;` as a delimiter which takes presedence over `,` so you should be able to defined rgba colours in there now!

[2018-04-05 21:40] #7 closed

[2018-04-20 15:05] virtucol opened #8 "Option to unselect user selection"
Hi there!

Wonderful plugin of yours! Thank you!

But I think it would be crucial to have a field option to unset any selection, e.g. by simply clicking a selected color once again... Would be usefull, don't you think?

Regards, Hendrik

[2018-05-05 10:49] virtucol opened #9 "Global variables in color swatches?"
What about **accepting global varibales** in the color values column?
Or is it supposed to work already, and it's just me doing something wrong?
Would be very nice and practical, feeding those fields with global color sets!

[2018-05-05 21:19] skramstad opened #10 "Size of color"
Hello.

Thanks for a very usefull plugin. Maybe its just me, but I think the colors are a little bit to big. Could there be an option for a smaller size.

I've just some testing in the browser and did this by changing the css.

`.color-swatches li {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 5px;
}`

I removed the original css for **color-swatches input:checked + label** and adde

[2018-05-21 09:17] #10 closed

[2018-05-21 09:17] Rias500 commented on #8
Now possible in 1.1.1, if you set a default value though it will take this one when unchecked.

[2018-05-21 09:17] #8 closed

[2018-05-21 09:34] Rias500 commented on #9
This is now possible in 1.1.2, you'll have to add the reference manually though.

Example:

<img width="832" alt="afbeelding" src="https://user-images.githubusercontent.com/3626559/40300882-ce6cd50e-5cea-11e8-8fe9-55ab0fe65b7c.png">

If the fields contain a hex code or colour name they'll be displayed correctly in the field type. If you need the value in your templates you'll have to pass it thoug

[2018-05-21 09:34] #9 closed

[2018-06-07 12:45] darylknight opened #11 "Selecting a colour shows outline on :focus"
Selecting a colour in Chrome shows a blue outline around the colour.

![image](https://user-images.githubusercontent.com/1250017/41100294-a18bed22-6a69-11e8-9d2d-f9a07a50c10e.png)

Could be fixed with
`.color-swatches button {
    outline: none;
}`

[2018-06-07 12:47] darylknight opened #12 "Clicking too many colours to quickly crashes the plugin"
After selecting a few colours in quick succession, the plugin stops working entirely and gives this javascript error in the console:

[code]

[2018-06-07 14:48] darylknight opened #13 "Default colour not working"
If you create a colour swatched field and select one of the colours to be "Default", it doesn't actually get selected as the default colour. It appears to in the CMS, but the front end outputs nothing.

[2018-07-29 12:12] howells opened #14 "Trying to access hex in plugin"
Hi - I'm trying to access the value of the colour swatch in a custom plugin but everything in the ColorData Object seems to be private so I can't get the value. Is there any way I can do this?

[2018-07-30 12:43] Rias500 commented on #14
There's no ColorData object in this plugin. I assume you're using the Craft CMS default color field, then you can use the methods in this class https://github.com/craftcms/cms/blob/e916d854d869d55de286c0e2ffe5f4e1161d8219/src/fields/data/ColorData.php

So for hex that would just be `getHex()`

[2018-07-30 12:43] #14 closed

[2018-07-30 12:44] howells commented on #14
Wow I'm truly stupid sometimes. So sorry!

[2018-07-30 14:40] Rias500 commented on #13
Fixed in 1.1.4, thanks for reporting!

[2018-07-30 14:40] Rias500 commented on #12
Fixed in 1.1.4, thanks for reporting!

[2018-07-30 14:40] #12 closed

[2018-07-30 14:40] Rias500 commented on #11
Fixed in 1.1.4, thanks for reporting!

[2018-07-30 14:40] #11 closed

[2019-01-28 17:09] christopherdowson-contrast opened #15 "Config file"
Is there any plan for a config file? Being able to configure preset colour lists would be an absolute lifesaver and much more DRY.

[2019-01-28 17:22] Rias500 commented on #15
Currently not possible to preset colour lists, it's not something I personally need but you can always send a PR to add this and I'll happily merge it

[2019-01-28 17:37] christopherdowson-contrast commented on #15
I have no idea how to do that, but I'll look into it.

[2019-02-01 15:11] Rias500 commented on #15
I've had some time and added this in 1.2.0, let me know if everything works as you'd like https://github.com/Rias500/craft-colour-swatches#using-the-config-file

[2019-02-01 15:11] #15 closed

[2019-02-01 15:21] christopherdowson-contrast commented on #15
Oh brilliant. Thank you! I'll go check it out now 👍

[2019-02-03 11:22] JayBox325 opened #17 "Configurable option for client to add custom hex?"
I've used this in two places now and I've had to combine it with the P&T colour field for an instance where there's a custom option.

Any possibility for this to be built into the plugin so when I'm setting up my field I have the option of allowing the client to add a custom colour if required?

Cheers

[2019-02-04 09:22] #17 closed, assigned to nobody

[2019-02-22 01:16] chasegiunta opened #18 "Add "Palettes" configuration option"
Loving the new config. Any chance there could be a "palettes" option so we could select the colors available per field instance?

[2019-02-22 04:15] chasegiunta commented on #18
Not sure you're even open to this as a feature, but I took at a stab at it here https://github.com/Rias500/craft-colour-swatches/pull/19

[2019-02-22 10:10] Rias500 commented on #18
Added in 1.2.1 👍

[2019-02-22 10:10] #18 closed

[2019-03-09 08:54] craftedsystems commented on #7
Please add this to the README. :-)

[2019-03-09 09:10] craftedsystems commented on #7
Am I right, if I want to use a rgba value without gradient I need to set this as color.

[code]

[2019-04-16 09:58] kevinmu17 commented on #13
This issue is back in 1.2.2, I have a colour-swatches.php config with a default: true on a color, it's shows in Craft cms that it is selected, but when saving it is empty and not showing front end. The user needs to switch back and forth to make it work.

[2019-04-23 07:42] TomHell opened #24 "Color definition in config file occurs an error => not countable()"
Create config/colour-swatches.php and set custom color occurs a in CraftCMS Backend while editing the field settings again.

**Error**
count(): Parameter must be an array or an object that implements Countable

**Reproduce**
1. Create  config file like in the example,
2. Create new field in CraftCMS Backend (activate lightswitch => Use config options)
3. Save and go back to edit the field again oc

[2019-04-25 16:41] benface commented on #24
I fixed this in #23. @Rias500 any chance it can be merged in soon? :)

[2019-04-25 16:56] Rias500 commented on #24
Merged and released, thanks!

[2019-04-25 16:56] #24 closed

[2019-11-04 12:04] craftedsystems commented on #13
Same here. Default color results in an empty string. Switching back and forth required to get a valid value.
Pease reopen issue. Thx

[2019-11-11 18:45] proimage opened #27 "[Feature Request] Selectable swatch shape and gradient type for multiple colors"
First off: This plugin is invaluable; thank you so much!

I'm working on a site where I'm needing two colors per swatch, a foreground/text color, and the background color. The current way of displaying multiple colors as a diagonal linear-gradient is great for general use, but it falls a bit short at conveying which color is FG and which is the BG:

![image](https://user-images.githubusercontent.c

[2019-11-13 19:46] riasvdv commented on #27
I'll gladly accept a PR that implements this! Currently a bit busy to implement myself

[2019-11-14 14:05] JayBox325 commented on #13
Same for me, too. Looking forward to an update. Thanks for working on it @riasvdv 👍🏻

[2019-12-11 16:09] proimage commented on #27
I wish I had the slightest idea how to develop Craft plugins, but I don't. I'm a frontend, HTML/CSS/JS guy. Yii scares the living daylights outta me... O.O

[2019-12-12 08:37] riasvdv commented on #27
No worries, Yii scares me too 😄 I'll see if I find the time soon

[2019-12-18 10:49] JayBox325 commented on #13
@riasvdv, I'm still having this issue and it's something my client is getting frustrated with. Do you have an update/potential time frame for me to pass onto them to put their minds at ease that this is being looked into?

Thanks.

[2019-12-18 12:45] riasvdv commented on #13
Should be fixed in 1.2.5

[2019-12-18 12:45] #13 closed

[2019-12-18 15:16] JayBox325 opened #28 "Dashboard error with 1.2.5 update"
I've just updated to 1.2.5 (thanks for being so quick at getting back to me today 🙌🏻) and I'm getting a `Variable "value" does not exist.` error at the root level of my admin view (`/admin/dashboard`).

See below for more:

[code]

Here's an easier screenshot of the markup it's failing on:

![Screenshot 2019-12-18 at 15 22 48](https://user-images.githubusercontent.com/13233809/71098872-4be9ec80-21

[2019-12-18 15:32] riasvdv commented on #28
Yep, copy paste mistake, try updating to 1.2.6

[2019-12-18 15:39] JayBox325 commented on #28
That got it. You're a lifesaver. Great plugin, btw! 👏🏻

[2019-12-18 15:39] #28 closed

[2020-01-02 21:12] markmiddleton opened #29 "Value being reverted to default value"
![issue-with-default-color-swatch](https://user-images.githubusercontent.com/2645384/71693355-1d9b0e00-2d61-11ea-8a42-2b6d1b8c91c7.png)

Upon editing a previously saved entry with the Colour swatches field, the color is reverted to the default color.

this can be repeated by:
1) open a previously saved entry using a colour swatches field (make sure the colour swatches field has a default value dif

[2020-01-02 21:46] markmiddleton commented on #29
this fix worked for me:
https://github.com/brilliancenw/craft-colour-swatches/commit/783bfe586cdb9565fb80943fc9a92dbac52babee#diff-6a134583c1bcad2d1a17a733ca9aaac1

[2020-01-03 08:10] riasvdv commented on #29
Can you send a PR for that? Then I'll just merge and release it!

[2020-01-03 08:20] riasvdv commented on #29
Got it from your fork! Fixed in 1.2.7

[2020-01-03 08:20] #29 closed

[2020-01-10 07:38] proimage opened #32 "Required field not being honored"
Marking a color swatch field as required doesn't prevent an entry with no swatch selected from being saved...

Craft CMS 3.3.18
Colour Swatches 1.2.3

[2020-02-11 21:06] sgtpenguin opened #33 "graphql support"
Any chance the full model can be exposed for graphql queries?  Currently returns a string corresponding to the `Label` field

[2020-03-05 12:59] paulgoodfield commented on #13
Am also having this issue:

Craft Version: 3.3.19
Plugin Version: 1.2.7

Here is my `colour-swatches.php` config file:

[code]

First colour in config file is defined with `'default' => true`. Have created a Colour Swatches field in CMS and defined it as **required** in a section. When I create a new entry in that section, the default colour in the field is displaying as selected (i.e. has an oran

[2020-03-05 13:03] paulgoodfield opened #34 "Swatches displaying with checkerboard pattern in Control Panel"
After updating from plugin version 1.2.3 to 1.2.7, the swatches on the fields in the Control Panel are displaying a checkerboard pattern rather than as a solid colour.

<img width="272" alt="checkerboard-pattern-swatches" src="https://user-images.githubusercontent.com/1381838/75984027-95acbe00-5ee1-11ea-82bf-ea1ce87aed8d.png">

Craft Version: 3.3.19
Plugin Version: 1.2.7

Here is my `colour-swatch

[2020-03-05 22:04] proimage opened #35 "Color Swatches not rendering in Craft 3.4.5 CP"
![image](https://user-images.githubusercontent.com/1027523/76029774-cb7f9000-5f3d-11ea-8aea-388eef3efe77.png)

Here is my `config/colour-swatches.php`:
[code]

[2020-06-02 16:18] keyurshah opened #36 "Migration Issue"
Thanks for taking over the plugin!

Unfortunately I upgraded and it seems that we've lost the data. Is there anyway to keep compatibility with previously created fields?

![image](https://user-images.githubusercontent.com/744385/83543939-04ce8a00-a4b2-11ea-9aa9-6e113f05fccb.png)

[2020-06-03 09:05] michtio commented on #36
@keyurshah, we will look into this as soon as possible! It's currently a bit hectic with everything, but if you lock to `1.2.7` everything should be working as expected, since the last release only has some updated namespacing. So at least you could move on and keep on using it!

[2020-06-05 09:16] medoingthings commented on #36
Same here. `1.2.8` broke the plugin for my installation. Luckily I noticed that before deploying to production. Going back to 1.2.7 fixed it for the moment.

Thanks for maintaining this plugin!

[2020-06-05 10:39] keyurshah commented on #36
Thanks, I changed it to 1.2.7 and that worked.

[2020-06-17 14:09] mattslack commented on #36
I had the same issue, running the following SQL fixed it for me, YMMV:

[code]

[2020-06-18 23:40] aaronwaldon commented on #36
Got this working with an SQL snippet similar to @mattslack's:
[code]

[2020-06-29 11:52] mtnorthrop commented on #36
This is an issue for me as well. Maybe it would help to make the old class names (including the namespace) aliases of the new names, and then create a migration that updates the `type` column in the database.

[2020-06-29 14:35] michtio commented on #36
@mtnorthrop we will make some time this week to address the update issues!
@aaronwaldon @mattslack feel free to PR.

[2020-07-03 11:10] TC72 opened #37 "Documentation still using American "color" for config file"
I couldn't get the colour-swatches.php file to work.
I'd followed the instruction inside the config.php file which says:
[code]
That spelling is wrong, it has to be the UK colour-swatches.php

[2020-07-05 23:24] nfq commented on #35
Yep, I have the same issue. Getting this error in entries:

<img width="423" alt="Screenshot 2020-07-06 at 01 23 39" src="https://user-images.githubusercontent.com/183354/86544461-6063bb80-bf27-11ea-930e-089fc3986837.png">

[2020-07-13 14:13] nfq commented on #35
Bump?

[2020-07-15 14:45] pixelmachine commented on #35
@nfq I think this issue is https://github.com/percipioglobal/craft-colour-swatches/issues/36

[2020-07-22 13:25] nfq commented on #35
Thanks, yes. That worked. (#36)

[2020-07-25 14:33] #37 closed

[2020-07-25 14:34] michtio commented on #35
Updates to the plugins are coming soon. Starting from mid-august we have more capacity to handle these issues! Thank you for your patience! 👍

[2020-07-25 14:36] #35 closed

[2020-07-25 14:36] michtio commented on #36
Updates to the plugins are coming soon. Starting from mid-august we have more capacity to handle these issues! Thank you for your patience! 👍

[2020-07-27 18:50] michtio commented on #34
@paulgoodfield This has been resolved in Version 1.3.0

[2020-07-27 18:50] #34 closed

[2020-07-30 14:28] TomDeSmet opened #40 "Use custom properties in colours config"
I'm using the colour-swatches config with only custom colours (no palettes).
I'm using Tailwind CSS and I noticed that you can add custom properties to the palettes such as 'teal-500'.
Is it possible to use this inside the colours array too? Can't seem to get the data out when dumping `fieldName`.

[2020-07-30 14:36] #40 closed

[2020-07-30 14:37] TomDeSmet commented on #40
I just used palettes, that works too.

[2020-07-30 15:18] WeArePercipio commented on #40
Hey Tom,

It will certainly be possible to do that in coming releases - however to get this out quick (as we needed the function for a project launching tomorrow) we wanted to minimise disruption to previous versions & installs.

Feel free to add a feature request so it stays on our radar though... and yes in the interim, you can use the `color` array to output more useful values like classes, dat

[2020-08-06 08:32] bzin opened #42 "Selecting colorField to be shown in entries list gives 400 bad request error"
So I am trying to display the color the user select for a specific entry in the Entries list in the CP.

Steps to reproduce:
- Create a `colorField` and add it to an Entry
- Select the `colorField` to be displayed in the Entries list

Good to know that my `colorField` has its options defined in the `colour-swatches.php` config file.

_Error message displayed in debug toolbar:_
<img width="1654" al

[2020-08-06 08:34] bzin commented on #33
This will be very appreciated! 👍

[2020-08-06 08:42] WeArePercipio commented on #42
ah good spot @bzin - expect a bug fix later on today.

[2020-08-06 16:17] JordyHeemskerk opened #43 "Twig template error when fieldValue is set to null"
The new code sets the value of `fieldValue` to `null` if it is undefined, which breaks the template.

The template tries to ensure `fieldValue` is defined before accessing it, but Twig treats `null` as defined. This lead to the following:
- `fieldValue is defined` -> `true`
- `fieldValue is not null` -> `false`

So the checks for `fieldValue` should probably be updated to `null` checks, instead of

[2020-08-13 14:18] #43 closed

[2020-08-13 14:19] #42 closed

[2020-08-17 03:00] marina-moca opened #44 "colour is being saved but goes back to "default colour" in cms"
Noticed this issue after upgrading to Craft 3.5.

The color is being saved:

![Screenshot at Aug 17 14-58-20](https://user-images.githubusercontent.com/56370392/90353390-2d6e2500-e09a-11ea-86fa-15c245773224.png)

But in the cms shows the default color:

![Screenshot at Aug 17 14-54-24](https://user-images.githubusercontent.com/56370392/90353418-424ab880-e09a-11ea-8500-ad0e14816c33.png)

[2020-08-17 08:31] WeArePercipio commented on #44
Could you confirm your plugin version number please @marina-moca?

[2020-08-17 17:52] JayBox325 opened #45 "Selected active state not showing on entry admin load."
Selected colour 'active' state not being shown after I save an entry. Please see below. I have chosen one of these colours for my slide, then when the admin refreshes to store this change, the active indicator is gone.

Craft Version: 3.5.4

![image](https://user-images.githubusercontent.com/13233809/90427578-a2515700-e0ba-11ea-818d-81e303cda410.png)

[2020-08-17 18:44] meestaben commented on #44
@WeArePercipio I'm seeing the same issue, version 1.3.2.1

[2020-08-17 20:41] marina-moca commented on #44
@WeArePercipio version 1.3.2.1

[2020-08-17 21:50] kisonay opened #46 "Twig Runtime Error – Twig\Error\RuntimeError When Using Config File"
When I use the config file provided in the readme, I am receiving the following error when I try to create a swatches field. I'm using the latest version of Craft.

[code]

If I omit:
[code]
it seems to work as expected.

[2020-08-18 10:46] okolvik-avento opened #47 "Null check on colors is wrong"
Adding it here too in case it's easier to see.
The null check on colors in colourOption.twig  is wrong.

See my comment on the commit here:
https://github.com/percipioglobal/craft-colour-swatches/commit/350e6b055659be5c50de0cfde017e3a934d580ad#r41508715

[2020-08-19 06:10] #47 closed

[2020-08-19 06:10] #46 closed

[2020-08-19 06:10] #45 closed

[2020-08-19 06:10] #44 closed

[2020-08-19 09:34] JayBox325 commented on #45
Thanks for your time on this. Appreciate it!

[2020-08-29 19:08] mildlygeeky commented on #36
For anyone else who is dead in the water right now after this, dropping this inside your site's `migrations` folder (or create a `migrations` folder if you don't have one) will get you up and running: https://gist.github.com/mildlygeeky/50d9d9b8e0a74fc5e343859c508a6e4b

[2020-09-02 12:42] michtio commented on #36
@WeArePercipio could you update the plugin with the above gist?

Thank you @mildlygeeky for the gist btw!

[2020-09-02 12:58] MattWilcox opened #50 "colour-swatches.php"
Well, as a Brit this is the first time I've ever been caught out _in reverse_ for pre-emptively assuming the file name would be the American English version, and not the British.

Could I suggest aliasing both spellings?

[2020-09-02 13:02] michtio commented on #50
Hah, thanks for the issue @MattWilcox we'll put it in our queue! 👍

[2020-09-08 11:51] howells commented on #33
This would be hugely helpful! Any idea when it could be done?

[2020-09-14 10:57] JayBox325 commented on #32
This seems to be a recurring issue that was fixed once, but it appears to be back.

[2020-09-17 08:53] gazlawn22 opened #52 "Importing colours via Feedme?"
Has anyone had any luck importing colours into Colour Swatches via FeedMe?

I've tried with different values e.g. using the label of red, or the Hex Value, but just get the following in FeedMe Logs?

```Trying to get property 'label' of non-object - ColourSwatches.php: 25```

Is it to do with the field values or does this need it's own field importer building for Feedme?

Thanks

[2020-09-24 16:18] JayBox325 opened #53 "Inconsistent use of "colour" and "color""
Further to #50 (I'm sure this will get tackled in fixing that), I'd like to raise the inconsistency of where the word is used. Personally, I'm a Brit, but I still would rather use the Americanism for consistency across my code.

But there are some instances where "Colour" and "Color" are used in the same place. See below:
![image](https://user-images.githubusercontent.com/13233809/94172005-da05a88

[2020-09-28 11:24] WeArePercipio commented on #53
addressed in version 1.4.0

[2020-09-28 11:24] #53 closed

[2020-09-28 11:24] WeArePercipio commented on #50
updated in version 1.4.0

[2020-09-28 11:24] #50 closed

[2020-09-28 11:25] WeArePercipio commented on #36
updated in version 1.4.0

[2020-09-28 11:25] #36 closed

[2020-09-28 11:30] WeArePercipio commented on #33
Expect a graphql update in the next couple of weeks 👍

[2020-09-28 11:31] WeArePercipio commented on #52
I'll take a look at this over the next week or so during the graphql update

[2020-09-28 15:52] JayBox325 commented on #53
Lovely, thanks for your work on this. It's been invaluable for some of my recent projects.

[2020-09-29 20:15] andreimoment opened #54 "How to migrate/upgrade from v.1.2.8 without breaking Craft?"
I have an old version of craft colour swatches installed - "marbles/craft-colour-swatches": "1.2.8" and would like to upgrade to the latest version - "percipioglobal/craft-colour-swatches": "1.4.0"

The CraftCMS CP shows me the upgrade option - so I presume it is the same plugin, despite the different repositories. (I may have switched to marbles' version sometime in the past because of the need t

[2020-09-30 07:33] WeArePercipio commented on #54
You should be able to completely remove your installed fork of colour swatches

`composer remove marbles/craft-colour-swatches`

and then re-install the current version

`composer require percipioglobal/craft-colour-swatches`

without incurring any data loss.

[2020-10-27 19:15] michtio commented on #54
@andreimoment could you confirm this?

[2020-10-28 10:31] terryupton commented on #32
Any update on this as I have just come across this too and need to ensure clients choose a colour per page.

[2020-10-28 16:07] terryupton opened #55 "Updating class strings in the config file don't take effect immediately or even on just a resave of the entry."
I have found that if I need to update a class string in the config file, that this is no immediately available in the template/out-put. Instead, I have to manually force this to change. However, just resaving the entry doesn't seem to trigger this either. Instead I have to edit the entry and remove the colour, then save. I then have to edit then entry again and re-applying the colour -> saving aga

[2020-11-12 15:01] terryupton opened #56 "Default colour not set into the array when saving entry"
So I have set a default colour on a general config for a palette setup.
In the CMS this shows up as selected. However, when coding for this in twig, the value is show as null and not saved.

The only way for this to work, is to set a different colour, save the entry then go back and change back to the default colour.
If you save the entry without setting a colour the default appears to be selected

[2020-11-14 03:36] jckvnr commented on #56
Also having this same issue when using custom config

[2020-11-17 08:07] WeArePercipio commented on #56
We have some time set aside this week to solve this issue, thanks for the report

[2020-11-17 08:08] WeArePercipio commented on #32
We have some time set aside this week to solve this issue, thanks for the bug report

[2020-11-24 22:52] michtio commented on #54
Closing issue due to inactivity, this should have been fixed.

[2020-11-24 22:52] #54 closed

[2020-11-25 21:21] andreimoment commented on #54
I'm sorry, this is running on a production site and I have been hesitant to
take the risk and make the switch. I will let you know if I do.

On Tue, Oct 27, 2020 at 12:16 PM Michael Thomas <notifications@github.com>
wrote:

[2020-12-09 22:04] #56 closed

[2020-12-09 22:04] #32 closed

[2020-12-09 22:18] WeArePercipio commented on #55
That is some array there - didn't anticipate the custom config being used to this extent :)

I have this update mostly in hand by fetching the config data again on entry save - I have a few more tests to run and a bit of time in the coming days to finish up on this, so expect version 1.4.2 to fix when released.

[2020-12-11 14:08] mtnorthrop opened #59 ""Getting unknown property" error in control panel since upgrade to 1.4.1"
When trying to view a Color Swatches field in the control panel, this error appears:
`Getting unknown property: percipioglobal\colourswatches\models\Settings::colours`

It appears that this error is being thrown from line 161 of `/src/fields/ColourSwatches.php`, and is due to the fact that the `$colours` property was removed from `/src/models/Settings.php` in version 1.4.1 of the plugin.

[2020-12-11 15:41] #59 closed

[2020-12-11 15:53] mtnorthrop commented on #59
Thanks for that! If I could make a suggestion, though, it looks like that line might not have been a typo, but a fallback from `$plugin->settings->colors` to `$plugin->settings->colours`, if the first property was null. This is a bit clearer if we format the original code differently:
[code]

If the `colours` property no longer exists, we could probably drop the ternary altogether and just do:
[co

[2020-12-14 19:06] michtio commented on #59
Thanks for the remarks @mtnorthrop we do have a major 2.0 release planned for this in 2021 with a lot more improvements and probably an entire codebase rewrite 🗡️

[2020-12-14 19:46] WeArePercipio commented on #59
yeah there are several of these carryovers throughout that need to be addressed and cleaned - which will happen over the coming days. As @michtio says though, there's a full rebuild in the works with a bunch of new features including GraphQL and feedme support.

[2020-12-18 09:52] TomDeSmet opened #62 "Add extra checks if config file does not contain correct indexes"
When selecting a palette in the CP that is defined in the config file, but afterwards removing the palette array from the config, the CP breaks.
It would be better if the CP selection just would reset to the default.

[2020-12-18 10:05] WeArePercipio commented on #62
I don't think I've ever performed this action - I'll add it to my festive todo list 👍

[2021-01-11 17:36] architchandra commented on #43
My project's `composer.json` file still uses the old name `rias/craft-colour-swatches` and the fix for this error seems to have been pushed under `percipioglobal/craft-colour-swatches`. `composer update` is not able to see the version with the fix.

What can I do to get the fixes?

[2021-01-21 16:56] MattWilcox opened #63 "colour vs color"
The British version was working at some point, but checking 1.4.1.1 the swatches stopped appearing in the CMS when using the config file as...

[code]

and I've had to switch back to the American

[code]

[2021-01-23 08:51] piotrpog opened #64 "Missing image in plugin store description"
I noticed that in plugin description in plugin store, one of images is missing.

[2021-01-25 10:54] JayBox325 opened #65 "Swatches no longer in the admin and editable"
We have been using this plugin on a project for about three months and it's worked great, but we've recently updated our plugins and now we can no longer see our themes we've added in our config file and we can't even manually add them for now.

No console warnings either. See below:
![swatches-bug](https://user-images.githubusercontent.com/13233809/105696542-63da8680-5efb-11eb-87ee-e4ed9835a695.g

[2021-01-25 10:58] WeArePercipio commented on #65
Thanks @JayBox325  -

You will need to change your `colours` config over to `colors` - we should have made this a breaking change release jump, so apologies for that. That should kick things into place.

That said, I have a few updates to make on this though so, I'll get an update pushed this week 👍

[2021-01-25 10:59] JayBox325 commented on #65
Ah noted. Thanks for the quick response. All updated.

[2021-01-25 13:23] mheob commented on #33
Is there a roadmap for this feature request?
I would love to use it in my headless environment easily.
I am currently using a workaround that I dislike.

[2021-01-25 23:09] michtio commented on #33
We currently don't have a release date, but graphQL support will be part of Version 2.0 @mheob

[2021-01-25 23:11] michtio commented on #63
Yeah that is correct @MattWilcox sorry for the confusion and this should've been flagged as breaking release or at least with a warning. We will go back to solely using the standard (international) way of using `color` in the plugin rather than the English version.

Our apologies for any inconveniences.

[2021-01-25 23:12] michtio commented on #64
Thanks for pointing this out! Will fix this soon 👍🏻

[2021-01-26 08:49] MattWilcox commented on #63
Nope, all good as long as we know - Just took us unaware in this particular case. Cheers!

[2021-01-26 08:49] #63 closed

[2021-01-26 08:51] MattWilcox commented on #63
FYI; the British is international. It's the American that is unique.

`The shorter one, color, is the preferred spelling in the United States. The rest of the English-speaking world uses the longer form, colour`
https://www.grammarly.com/blog/color-colour/#:~:text=When%20choosing%20between%20color%20and,uses%20the%20longer%20form%2C%20colour.

[2021-02-23 13:26] #65 closed

[2021-03-12 20:12] andreimoment commented on #54
Hi, I am wondering if you'd be open to helping with this transition. I made the change you recommended, CraftCMS 3.6.10:

composer remove marbles/craft-colour-swatches

and then re-install the current version

composer require percipioglobal/craft-colour-swatches

Now both the control panel and templates show errors:

CP: Unable to find component class 'marbles\colourswatches\fields\ColourSwatches

[2021-03-15 11:07] michtio commented on #54
@andreimoment you are accessing it correctly with `{{ item.headlineColor.color[0].color }}`

Since the update every returned colour is indeed a colour array ( that contains the color and/or custom attributes/classes/... you define )

Thank for point that out, will create a todo to update the ReadMe :)

[2021-03-17 04:19] andreimoment commented on #54
This would mean I’d need to change the access format anywhere colors are
referenced. Is there a way to preserve the old access?

What if I define the colors as strings, not arrays?

Or if theColorField.color returned array[0].color and
theColorField.colorArray returned the array?

Of course I imagine it’s too late for this - the New API has already been
implemented by many users.

On Mon, Mar 15,

[2021-05-04 17:48] DynamiteGoesBoom opened #66 "Vizy Support"
Hey All,

I'm test driving Vizy from Verbb and it looks like the Colour Swatch plugin is not saving the color selected inside of the Vizy field. On save the field selected just reverts to the first one in the list. I realize that Vizy is super new, but I thought I'd call that out here.

I'm on the latest version of Craft and your plugin.

Thanks gang!

[2021-05-04 17:56] DynamiteGoesBoom commented on #66
It may or may not be your plugin after all. I'm getting some other odd behavior with Vizy now too. So I'll close this issue until Vizy is more stable :) Sorry for the bother :)

[2021-05-04 17:56] #66 closed

[2021-05-17 18:55] onebrightlight commented on #55
Just ran into this myself where I had to add a new class so that Tailwind can use `JIT` compiling. I ended up resaving entries, but this would definitely get unwieldy on a project that has been in use for a while.

[2021-06-02 14:42] kevinmu17 commented on #56
This issue still persists
Version: 1.4.1.1

[2021-06-08 20:40] DynamiteGoesBoom opened #67 "Default Values not respected within a Super Table field"
Hey Gang,

When using a Colour Swatch field within a SuperTable field the default selection does not save.

![Screen Shot 2021-06-08 at 2 34 34 PM](https://user-images.githubusercontent.com/39201467/121254014-0837e680-c867-11eb-9c5d-db0beb4fd3df.png)

I selected it above, but no matter how many times I select the second color it never gets the `red ring`. (Plus the `red ring` isn't all that clear

[2021-07-30 16:07] DynamiteGoesBoom commented on #67
I just wanted to bump this up. I would also *love* to be able to select a default color within each field. That would be tremendous.

Thanks gang!

[2021-08-05 01:07] onebrightlight commented on #55
Running into this issue again as it ate up 30 minutes of my day trying to figure out why this wasn’t updating until I remembered to check this issue. So anyway, hi, future me! I hope you remember the procedure outlined above!

[2021-08-29 04:53] engram-design commented on #66
Quick note @DynamiteGoesBoom that https://github.com/percipioglobal/craft-colour-swatches/pull/68 should also fix another Vizy issue that's cropping up.

[2021-08-31 21:52] adrianjean opened #69 "Unable to save colour selection if swatches have no "Labels""
**Problem:**
If I configure some swatches, but don't assign any value to the "Label" for each (admittedly I was lazy and didn't want to have labels...), then in the entry form, make a swatch selection and save that entry, the selection isn't saved.

**Workaround/Solution:**
Adding labels for each colour allows the swatch field to behave normally.

ps. Thank you for an amazing plugin!

[2021-09-10 04:33] mildlygeeky opened #70 "Latest update breaks "migrate/all" over Craft console"
The schemaVersion in composer.json was updated even though the newest update to this plugin doesn't actually have/need any migrations. This is causing Craft to be confused and think that it has missed a migration, and require a manual visit to the CP in order to bring the site up.

The schemaVersion should only change if/when a new migration is also present on the plugin (furthermore, schemaVersio

[2021-09-14 16:49] bendesilva commented on #70
Also just ran into this issue. Just took down a website I was upgrading as I was also upgrading Craft at the same time, the CP wasn't accessible as a result and so had to restore a database backup and rollback the changes. Took a while to narrow it down to this plugin blocking `migrate/all`

[2021-09-15 14:13] mildlygeeky commented on #70
@michtio can you please fix? This issue/update will take down any site that updates via CLI, and possibly also take down the CP itself if deployed alongside a Craft update.

[2021-09-23 10:26] bengreenbank commented on #70
This is an issue for a few of our sites and is preventing one of our sites from going live. See issue reported on CraftCMS. https://github.com/craftcms/cms/issues/9860. Would be nice to get a fix for this soon.

[2021-09-23 12:54] brandonkelly commented on #70
I’m not sure what the plugin could do to fix this at this point, besides adding a new dummy migration that doesn’t do anything, which would be a little lame.

As @mildlygeeky pointed out, running migrations from the Control Panel should get you passed this, or running this one plugin’s migrations individually rather than from `migrate/all`:

[code]

I’ve also updated the `migrate/all` command to b

[2021-09-23 19:52] michtio commented on #70
Thank you @brandonkelly for fixing this within Craft Core! Much appreciated.

[2021-10-01 00:36] palomamtnez opened #71 "Display labels when rendering & add Optgroups"
Hello, first of all, this plugin is amazing. Thank you for it :)

Id like to know if there's planned support to add the option to show the label on the admin panel as well as the colour swatch, as it will help with accessibility and easier for the user to decide which colour to choose.

In this case, I have ice cream flavours and some of them have a similar colour palette so the tooltips are not e

[2021-10-01 10:02] michtio commented on #70
Fixed in Craft 3.7.14

[2021-10-01 10:02] #70 closed

[2021-10-01 10:04] michtio commented on #71
@palomamtnez honestly it is something we didn't think about!

We will add this feature request to the list. We're currently a bit swamped with deadline for the next few weeks.
But we have plans moving forwards, just as much as releasing a pro version with a lot more features.

Thank you for the issue! 👍🏻

[2021-10-03 19:15] palomamtnez commented on #71
Thank you! keep us posted :) !!

[2021-10-04 01:55] palomamtnez commented on #71
Also, if you want more ideas 💡 ,  could it be possible to also add another field for the colour handle or something similar?
For example, in these swatches, I have the colours `Vanilla Bean`, `Caramel Cookie Dough` and `Rum & Raisin`, but on my scss I have the class `vanilla-bean`, and  `rum-raisin`, etc. so the issue in here is that I have to transform and replace the `&` symbols as well as the b

[2021-10-08 19:10] michtio commented on #71
The second one the colour label to the table of entries view is actually possible, but works only up to 2 colours I think, we should have a look at that.

[2021-11-09 06:34] arlingga opened #72 "Selected color not highlighted in entry page"
Hi guys, this is a great and helpful plugin, thank you for making it real!

We are currently running on Craft CMS 3.7.18 and Craft Colour Swatches 1.4.2. It is working great, however when we select a color in the entry page, the selected color seems like losing its focus. The selected ring/shadow around the color is missing.

<img width="483" alt="Screenshot 2021-11-09 at 11 14 17" src="https://us

[2021-11-09 23:58] arlingga commented on #72
Sorry guys, turns out it was nothing to do with the plugins, it was Craft CMS issue and already resolved by Craft CMS 3.7.18.1. Can close this one. Cheers!

[2021-11-16 10:51] mtnorthrop commented on #72
Would it be possible to re-open this issue? The bug described here actually still exists as of Craft CMS 3.7.20.

The problem is this code in Craft's stylesheets (src/web/assets/cp/src/css/_cp.scss):
[code]

This is setting `box-shadow: none;` at a higher specificity than Color Swatches' rule in ColourSwatches.css:
[code]

I would suggest finding a different way of highlighting the selected option

[2021-11-17 13:33] circa1983 opened #73 "Craft CMS update (3.7.20) prevents selection indicator being visible"
When a color swatch is selected on a field, the selected ring is not visible until the user clicks on something else and it looses focus.

This issue is caused by [Focus visible #10058](https://github.com/craftcms/cms/pull/10058/files#diff-9de912f41aa82e596057243e576dc259b4faeef35df220597134e41f503ef288R39) part of the [Craft CMS 3.7.20 - 2021-11-06](https://github.com/craftcms/cms/blob/develop/CH

[2021-11-17 13:50] michtio commented on #73
Same as #72

[2021-11-17 13:50] #73 closed

[2021-11-17 13:53] michtio commented on #33
This feature has been moved, as we plan on releasing a colour-swatches pro in Q2 of 2022 together with Craft 4. So stay tuned!

[2021-11-17 14:44] circa1983 commented on #73
apologies! dont know how I didn't see that

[2021-11-17 14:55] circa1983 commented on #72
Looking at the css a quick fix would be to update [ColourSwatches.css](https://github.com/percipioglobal/craft-colour-swatches/blob/master/src/assetbundles/colourswatchesfield/dist/css/ColourSwatches.css#L58) and change line 58 from: `.color-swatches button.active {` to
[code]

I realise this isn’t the most eligate solution and long term the @mtnorthrop ’s suggestion of using a pseudo element, or

[2021-11-17 21:24] michtio commented on #73
correct @circa1983 , working on a quick fix for this that I'll push out shortly :)

[2021-11-17 21:25] michtio commented on #72
I am currently going to use the quick fix in specificity that @circa1983 suggested @mtnorthrop

A more robust / better solution will be go out in a next release right before our x-mas break!

[2021-11-17 21:30] michtio commented on #55
@onebrightlight , the main issue is using a config file here. As that doesn't automatically is getting changed.

Working on a new colour-swatches version ( a "pro" version ) where these configs will be able to set / read in the field settings in the plugin itself

[2021-11-17 21:31] onebrightlight commented on #55
Understandable! That said, perhaps a command in the CLI could allow us to update/change values?

[2021-11-17 21:32] michtio commented on #72
This quick and dirty fix has been released:

https://github.com/percipioglobal/craft-colour-swatches/releases/tag/1.4.2.1

[2021-11-24 12:38] ammannbe opened #74 "Server error 500 while editing field type after Craft CMS update"
Since the last Craft Update, the color swatches do not show anymore in the entries edit page.
Also if we try to edit the field itself, we receive a server error 500.

This is the stack trace in the logfile:

[code]

Not sure if it is a problem with craft itself or not...
Thanks for your help!

Cheers

[2021-11-24 12:42] michtio commented on #74
Hey @ammannbe

First thing I Notice is:

[code]

Could you maybe also share the contents of your colour-swatches.php file, as I have a feeling the issue might lie in there.

Can you also define "latest Craft", is that `3.7.22` ? Thank you!

[2021-11-24 12:44] ammannbe commented on #74
Hi @michtio

Thanks for the fast response.

This is the content of my config file:
[code]

Yes, my current version is `Craft CMS 3.7.22`

[2021-11-24 12:49] michtio commented on #74
Thank you @ammannbe I'll make sure this gets tested ASAP, and will report back or push a fix if necessary or contact our friends at pixel and tonic if it seems to be on their side.

[2021-11-24 17:22] domstubbs commented on #74
Coincidentally I’ve added this plugin to a project this afternoon and I’m seeing the same error.

I’ve created a field with the ‘use config options’ setting enabled. This has result in the following project config output:

[code]

Given that the plugin seems to be looking for a `Colour config` array key in colour-swatches.php it seems as if the field settings are assigning a default palette and th

[2021-12-02 10:43] ammannbe commented on #74
I can confirm that, if I add a empty palette, the server error disappears.

[code]

[2021-12-06 15:32] cookie10codes commented on #74
hi @ammannbe 👋🏼

Is it possible to send over your project config, colour-swatches.php and composer.json? You can make a Wetransfer and mail it over to stefanie@percipio.london if you like. I can't reproduce with my setup.

Some additional questions:
1. When was the first install approx of the plugin on your project?
2. You encountered the same problem on a new setup of was the other project an old

[2021-12-08 13:32] cookie10codes commented on #69
Hi @adrianjean,

Thanks for getting in touch. Sorry it took a while for us to reply. There's no other way than adding the labels in the config file, these values we use to map out the selected colour from the palette or predefined colors.

[2021-12-08 13:32] #69 closed

[2021-12-08 13:54] #64 closed

[2021-12-09 18:30] michtio commented on #74
@ammannbe @domstubbs

There is a release candidate ready which fixes quite some issues with colour swatches, there is a check if a certain index doesn't exist in the config file in place, which might solve the issue.

You can find the RC here:

[code]

If you update your composer.json to 1.5.0-RC.1 for colour swatches it might fix the issue, let us know if it does, probably an official release of

[2021-12-10 16:53] #55 closed

[2021-12-10 16:53] #62 closed

[2021-12-10 16:53] #67 closed

[2021-12-10 16:53] #72 closed

[2021-12-13 08:04] ammannbe commented on #74
@michtio

Thank you very much for the bugfix.
I've tested the release 1.5.0 and it works as expected :).

Therefore I'll close this issue.

[2021-12-13 09:03] michtio commented on #74
Great happy it works @ammannbe !

[2021-12-13 13:04] ammannbe commented on #74
Sorry to bother you again.
After the update we noticed, that we couldn't save the entries anymore.

This is the error in the logfile:

[code]

I think the problem is that we never worked with palettes and therefore this line throws of course an undefined index:
https://github.com/percipioglobal/craft-colour-swatches/blob/2b834f8693e536048f0329f83845688bef28434a/src/fields/ColourSwatches.php#L117

[2021-12-13 13:09] michtio commented on #74
Thank you @ammannbe , this has been merged and release has been pushed up.

[2021-12-13 13:09] #74 closed

[2021-12-13 13:30] ammannbe commented on #74
Wow, thank you very much.
Could you update at least https://packagist.org/packages/percipioglobal/craft-colour-swatches#1.5.0 ?

And if possible also the Craft Plugin Store?

[2021-12-13 13:52] michtio commented on #74
All done @ammannbe , I forgot to update the composer.json version number 😬  so 1.5.0.3 it is 😅

[2021-12-13 14:20] ammannbe commented on #74
Perfect :D
Thank you!

[2021-12-15 18:30] adrienne commented on #71
I hate the new labels in the control panel, can we have a config option to turn them back off, please? They are particularly bad in Matrix fields, where they overlap the borders of the block if they're the last field in the list.

![image](https://user-images.githubusercontent.com/89705/146244489-a8c58c08-3c21-4707-86fc-2d71327701cb.png)

[2021-12-16 10:37] kevinmu17 opened #77 "Selection styling is gone"
When choosing a color or opening an entry with the color plugin field, there is no "current" selected visible.

Version: 1.5.0.3

[2021-12-16 11:17] kevinmu17 commented on #77
I see that this problem crawled in with Version 1.4.2.1. After this all versions are broken with styling the active option

[2021-12-17 13:41] WeArePercipio commented on #77
Please open a new issue for this with any additional information

[2021-12-17 13:43] WeArePercipio commented on #77
Please provide a screenshot and as much additional information as possible. Craft version, etc

This is a free plugin, so any additional information you provide saves us time in debugging and any resolution.

[2021-12-21 01:13] merwinpoulose opened #78 "Selected active state not showing active state colour after saving or page reload in admin panel"
![Screen Shot 2021-12-21 at 2 16 32 PM](https://user-images.githubusercontent.com/15919557/146854275-e1d87e1b-230c-4b9c-a66c-9f1874e352a2.png)

Currently  when I select and save a colour, after the page reload the active state is not showing the active colour.
Can you please help me with this?

Version:
    "percipioglobal/craft-colour-swatches": "1.5.0.3"
"craftcms/cms": "3.6.17",

[2021-12-21 11:08] merwinpoulose commented on #78
button-active class is missing!

[2021-12-21 11:19] merwinpoulose commented on #78
Fix:

/* Currently when you click on a colour button, it just add a class active, not button-active */
.color-swatches .button-active {
    box-shadow: 0 0 0 3px #F2842D;
}

.color-swatches pre {
    font-size: 0.75rem;
    font-family: courier;
}

/* small fix or you can update the button class to button-active */
.color-swatches .active {
    box-shadow: 0 0 0 3px #F2842D;
}

[2021-12-29 21:22] adrianjean opened #79 "[Feature Request] Option for Picker Swatch"
This may seem a little anti-intuitive given this plugin is meant to _replace_ the core colour picker, but there are times when it would be great to offer a "Custom Picker" swatch that triggered a colour picker for an on-the-fly colour selection.

That way one could offer brand swatches and for those occasions when an off-brand colour is needed they can use a Custom Picker swatch.

My current solut

[2022-01-04 09:53] michtio commented on #78
thank you @merwinpoulose we are back from our holiday break, will look into this shortly :)

[2022-01-04 09:53] michtio commented on #71
@adrienne this will be fixed in a next release in the next few weeks, we are currently working on a new/improved UI for colour swatches.

[2022-01-05 12:00] michtio commented on #78
This has been fixed in the 1.5.0.4 release ( hopefully for once and for all :D )

[2022-01-05 12:00] #78 closed

[2022-01-05 12:01] #77 closed

[2022-01-12 15:58] kevinmu17 commented on #77
A little time before closing an issue would be nice to... please reopen it because it is still an issue.

This orange ring is missing in version 1.5.0.3
<img width="63" alt="Screenshot 2022-01-12 at 16 52 39" src="https://user-images.githubusercontent.com/8747373/149174948-dbb602bb-adcf-4876-8dc0-415969bae25b.png">

It is now showing this:
<img width="47" alt="Screenshot 2022-01-12 at 16 58 19" sr

[2022-03-02 05:15] timeverts opened #82 "Support string keys for 'palettes' array elements"
@michtio, would it be possible to add support for string keys in the `palettes` array elements as per #81 ?

[2022-03-07 11:07] michtio commented on #82
Version 1.5.1 has now been released with this change @timeverts

Thank you for the PR!

[2022-03-08 02:42] timeverts commented on #82
Wonderful! Thanks so much @michtio

[2022-03-09 14:33] michtio opened #83 "BUG: Entries Not saving / Impossible to remove field when there is no config"
When no config has been selected for the field, either manually or through the config option, CMS entries couldn't be saved or the field couldn't be removed from the field settings

[2022-03-09 14:49] michtio commented on #82
No thank you @timeverts :)

[2022-03-09 14:52] michtio commented on #79
@adrianjean honestly I don't think we will implement this, it is anti-intuitive as you say, and we should take a lot of variables into consideration to add an option like this.

I think it's safe to say at this point, let's wait for Craft 4, and see what conditional fields bring.
Your approach currently with some minor twig logic seems very feasible and could easily been added as a macro I think.

[2022-04-05 08:43] romainpoirier opened #84 "Randomly pick a set of colors from the color-swatches.php setup"
I would like to randomly get a set of color from my `color-swatches.php` setup (I have currently only one set).
This can be useful in my case when the field is not filled, so one is randomly picked.

From a native Dropdown field, I could probably pick them using `craft.fields.getFieldbyHandle('handle').settings.options`.
How can I achieve this using the colour-swatches custom plugin?

[2022-04-08 13:16] michtio commented on #84
Hey @romainpoirier

Currently we don't have any possibilities to pick a random colour on save when nothing has been selected, but I do like the idea.
We'll tinker about this on how to best implement in the plugin. Thank you for the idea!

[2022-04-27 08:10] cookie10codes opened #86 "Colour swatches model $color can be string and array"
Updated typing and test out the $color model to provide a string as an array

ColourSwatches.php line 18

[2022-04-27 08:12] cookie10codes opened #87 "Custom config not working"
The custom config to add colours in the settings doesn't work

<img width="792" alt="Screenshot 2022-04-27 at 10 11 44" src="https://user-images.githubusercontent.com/20947573/165472576-321384e9-d0d6-4b43-9034-fee304bb6460.png">

[2022-05-02 12:48] #86 closed, assigned to michtio, cookie10codes

[2022-05-05 09:22] Antimated commented on #87
Just installed colour swatches version 4.0.0 on craft version 4.0.0.1 and I'm not able to use the plugin. Custom and non-custom color settings do not work.

**My scenario**

1. Have a matrix
2. Add a colour swatch field
3. Select a colour config (note: whenever I pick a config no previews are viewed initially, only after save)
4. Go to a page that uses this matrix

I get the following error

[code

[2022-05-05 17:33] michtio commented on #87
Thank you for the report @Antimated
Could you also share your colours config?

We will test this out tomorrow 👍🏻

[2022-05-05 17:38] Antimated commented on #87
@michtio  here you go!
[code]

[2022-05-06 11:14] michtio commented on #87
Thank you @Antimated !

Going to come up with a fix ASAP

[2022-05-06 12:17] michtio commented on #87
@Antimated the issue has now been resolved in `4.0.1` our apologies for the inconvenience

[2022-05-06 12:17] #87 closed, assigned to michtio, cookie10codes

[2022-05-09 12:52] Antimated opened #90 "[Craft 4]: Required colour swatch field can save without option being checked"
Hey

I have 2 required colour swatch fields in side a matrix. Both fields are required but I can still save the entry even when I don't select a color option. The following fields still both save even if "Navigatie kleur" field is not selected. The color data is provided by a `colour-swatches.php` config file and had had other data in the past.

![Screenshot 2022-05-09 at 14 50 29](https://user-im

[2022-05-11 12:04] michtio commented on #90
Thanks for the issue @Antimated

This has been resolved in 4.0.2 , just pushed that out!

[2022-05-11 12:04] #90 closed, assigned to nobody

[2022-05-12 10:48] stereomyth opened #91 "[Craft 4] Field settings html fails to render"
Just installed the plugin on a brand new Craft 4 install. The field settings template will not load.

`Error: Class "percipiolondon\colourswatches\fields\Plugin" not found in .../vendor/percipioglobal/craft-colour-swatches/src/fields/ColourSwatches.php:213`

I guess it should be doing `ColorSwatches::$plugin` rather than `Plugin::$plugin`?

Additional info
- Craft version: 4.0.2
- Plugin version:

[2022-05-12 10:49] cookie10codes commented on #91
thanks @stereomyth, we're going to investigate

[2022-05-12 11:19] cookie10codes commented on #91
@stereomyth the issues has been resolved and there's a new release with this fix 👍🏼

[2022-05-12 11:19] #91 closed, assigned to nobody

[2022-05-18 12:53] Havnevik opened #92 "Craft4 update: Unable to find component class 'percipioglobal\colourswatches\fields\ColourSwatches'."
Field not found after craft4 update

Error shows up on 'settings/fields/edit' page
Unable to find component class 'percipioglobal\colourswatches\fields\ColourSwatches'.

The craft log also reports (but I guess that's unrelated):
The message file for category 'colour-swatches' does not exist:
[...]/vendor/percipioglobal/craft-colour-swatches/src/translations/nb/colour-swatches.php

"craftcms/cms":

[2022-05-18 13:46] michtio commented on #92
Hey @Havnevik

Can you confirm that you have installed version `4.0.4` of colour-swatches, as I see you only use:

[code]

This should be

[code]

[2022-05-19 08:59] JamsRepos commented on #71
Hey, has there been any update towards this? Currently have a client with a lot of colours and labels are completely covering one another.

[2022-05-19 13:38] cookie10codes commented on #71
hi people 👋🏼
We're busy creating a new UI that fits the needs for these labels. We're aiming to release this feature, on our Craft 4 install, by the end of the month

[2022-05-23 07:54] ZapaNOR commented on #92
Can confirm.
Currently on Craft CMS 4.0.3 with colour swatches 4.0.4 and getting the same error.

![Screenshot 2022-05-23 at 09 53 09](https://user-images.githubusercontent.com/53942798/169770847-7a937ef8-eddc-4ef8-a3c7-e31221204ff6.png)
![Screenshot 2022-05-23 at 09 53 16](https://user-images.githubusercontent.com/53942798/169770851-de3f8c88-65cb-4bdd-85a0-377ecb2e89eb.png)

[2022-05-23 08:35] ZapaNOR commented on #92
Update:
Go to settings -> fields, find the colour swatches field, edit it and select field type "Colour swatches" from the dropdown.
Remember to configure the field type again. Save. Then it works.

[2022-05-23 08:45] michtio commented on #92
Thanks for the update @Mathias-Syversen

We will have a look today to the issue and push an update out once the bug has been resolved.

[2022-05-23 12:52] cookie10codes commented on #92
hi @Havnevik,

Sorry to come back to you for this issue. But did you upgrade Craft 3 to Craft 4 for this project?

Thanks for the additional information

[2022-05-23 12:59] michtio commented on #92
@Mathias-Syversen I think I know the issue at hand tho.
Between Craft 3 > Craft 4 the namespace has changed. So it's not:

`percipioglobal/craft-colour-swatches` anymore but `percipiolondon/craft-colour-swatches`

On that hand we had an error in our migration as well! Update will go out shortly + adjusted warning in the Changelog :)

[2022-05-23 13:08] Havnevik commented on #92
Sorry for the late respons. Yes I have "^4.0.4". @Mathias-Syversen suggestion worked for me as well. Thanks.

[2022-05-23 13:10] #92 closed, assigned to nobody

[2022-05-31 11:20] MattWilcox opened #94 "Custom attributes can only be set as a child of color property?"
I'd like to be able to access custom attributes at the level of the label and not only the level of the colour.

[code]

`{{ fieldname.label }}` - outputs "White"

`{{ fieldname.color[0].color }}` outputs "#ffffff"

`{{ fieldname.customClass }}` - errors with `Calling unknown method: percipioglobal\colourswatches\models\ColourSwatches::customClass()`

`{{ fieldname.color[0].otherCustomClass }}` -

[2022-05-31 11:54] michtio commented on #94
@MattWilcox currently this isn't possible, as we don't allow for top-level classes. As it's a little bit against the purpose of everything.

Usually you'd set class names on the colour level as in the example you have shown. I don't really see any use of top level classes? Feel free to share an example in where it does makes sense.

If you want to parse a colour, say a background or text colour fr

[2022-05-31 11:54] #83 closed, assigned to nobody

[2022-05-31 12:10] MattWilcox commented on #94
Yeah, it's because we want to output on the front end just a class for the "colour" which is in fact two colours (a main and a contrast). We're not outputting the colours in the mark-up there, we only need a class. We're outputting the colours as CSS Custom Properties elsewhere.

It just seems weird to attach a properly to a colour when the property belongs with the label, not the colour.

No worr

[2022-05-31 12:18] michtio commented on #94
@MattWilcox it makes most sense to add the colour properties on colour level. You could simply use your class on the first level of the array and only output that.

If in your case as you say you have a contrast + a main, you could simply do something like ( just with a TW example here ):

[code]

[code]

As in the above you'd have something that shows red/white to your authors, where red would be

[2022-05-31 13:00] MattWilcox commented on #94
Cheers.

Yeah, it's because we're setting two linked colours in one step - but they're kinda semantically linked because the point is that the text colour is pre-defined to always have sufficient contrast with the background colour. But... kinda pointless to explicitly set both in mark-up. That said, it's not exactly terrible to have to do that either - just a bit redundant.

[2022-06-03 07:14] cookie10codes commented on #94
hi @MattWilcox, we released a new version for Craft 3 and Craft 4 with this feature

[2022-06-03 07:14] #94 closed, assigned to nobody

[2022-06-06 20:46] mediagirl opened #95 "Can't seem to limit to just the first color option in template"
I'm trying to return the first color for a field's selection in the template instead of looping through them:

[code]

And I get this error:

[code]

Shouldn't one() work in this case?

My color swatch field is inside a Matrix field and then inside a Supertable field.

[2022-06-07 06:24] cookie10codes commented on #95
Hi @mediagirl,

We don't use the .one() notation in our plugin. You can update your piece of code like this in order to work:

[code]

I hope this helped out your issue?

[2022-06-07 06:24] #95 closed, assigned to nobody

[2022-06-07 08:21] michtio commented on #95
To clarify @mediagirl:

`.one()` notation can only be used on an Element Query, since our colour swatches are simply arrays you can't use `.one()` `.all()` `.count()` or any of those. You'd simply loop over the colours or you pick a specific one with the bracket notation as @cookie10codes mentioned here above.

[2022-06-07 18:37] mediagirl commented on #95
I was able to get to the block.styling.theme.color[0] solution last night after Googling for a bit.

I didn't realize one() was only on on an Element Query. Thank you for that tidbit!

[2022-06-09 16:30] bzin commented on #33
Any idea if there is a release date (even if beta) for this?

[2022-06-10 12:35] riccardolardi commented on #33
@michtio so will graphql support only be available in the pro version?

[2022-06-10 12:36] michtio commented on #33
We are still discussing internally @riccardolardi , not sure yet. I think we want to add some GQL support in the free version tho. But then we'll shift possible mutations to a pro version.

[2022-06-30 03:10] allenpieper opened #98 "Colors not saving when in Matrix inside of Super Table"
Hi, great plugin and thanks for developing it!

Currently I'm experiencing a problem where a color selection won't save when the Color field is in a Matrix block. It's saving in my Neo blocks and as a direct child of an entry. But when I nest it inside a matrix and select a color, it's not saving my color selection.

I looked at other, older issues about the 'active' state not showing up in the UI

[2022-06-30 11:40] benhaldenby opened #99 "Multi-site support"
Does the Colour Swatches plugin natively support Craft multi-site setups?

I support a landing project platform, built using Craft multi-site, where each client landing page is setup as a separate site, sharing a set of Content layout blocks using a Matrix field. On the front-end, each client shares the templates, but each have their own directory in /assets/ for CSS.

I'd like to add the Colour S

[2022-07-08 10:58] michtio commented on #98
Hey @allenpieper do you maybe have any more details about your setup, as I can't manage to replicate the issue. I tried adding a matrix into a supertable, and got output as expected:

<img width="251" alt="Screenshot 2022-07-08 at 12 58 02" src="https://user-images.githubusercontent.com/5818021/177979514-5200b4e0-ecd9-431b-9c9b-6cb4dfd1771c.png">

With the following snippet:

[code]

[2022-07-08 19:30] michtio commented on #33
@riccardolardi @bzin @sgtpenguin @mheob @howells

GraphQL support is in Version 1.7.0 for Craft 3 and Version 4.2.0 for Craft 4 🥳 requiring a minimum of CraftCMS 3.6.0 / PHP 7.2

The iterables/arrays from the config file are JSON encoded inside of an array, single values not set through the config will simply be an array with 1 string value which is the hex code.

Enjoy!

[2022-07-08 19:37] michtio commented on #84
@romainpoirier we had some tinkering about this.

Would it make sense to introduce an extra field setting ( lightswitch maybe ) when a field gets created, and when no value is selected it picks a random colour. Or would it make more sense to add an option to the actual colour palette where "random" can be selected?

[2022-07-12 07:53] romainpoirier commented on #84
Yep, that could be that. Or a general setting.

I think this makes more sense. And it would be useful to be able to be able to set the random setting by default or not.

[2022-09-21 22:17] piotrpog opened #101 "Element list in control panel - color preview is not displaying corretly if selected option has more than one color"
By color preview i mean this small circle. Its style looks like this: `background-color:#1abc9c,#e74c3c` instead of displaying CSS gradient like it does in field widget.

[2022-09-22 06:24] cookie10codes commented on #101
Hi @piotrpog,

Can you provide us which Color Swatch version is installed on your system en which Craft version you are on?

You can check that in Utilities > System Report

Thank you

[2022-09-22 15:08] piotrpog commented on #101
Here is my system information;

PHP version | 8.1.2
MySQL 5.5.5
Craft Pro 4.2.5.1
Colour Swatches | 4.2.0.1

[2022-09-22 16:02] cookie10codes commented on #101
thanks @piotrpog,

I'll add it to our planning to get this sorted

[2022-09-30 08:31] cookie10codes commented on #101
@piotrpog looking in to this issue but I don't see anything wrong. This is how it should display as below. If it looks different than below, please re-open the issue and attach your screenshot to it

<img width="213" alt="Screenshot 2022-09-30 at 10 30 30" src="https://user-images.githubusercontent.com/20947573/193227718-15b82199-10a0-4e1b-a78b-73d0420909dc.png">

[2022-10-14 21:49] piotrpog commented on #101
@cookie10codes
hi, sorry for the late reply. Your screen shows element details (color selection widget). And my issue is about element index list. Here is what it looks like - first entry has color with multiple hex codes selected, second entry has color with single hex code selected.

![image](https://user-images.githubusercontent.com/42622545/195949042-56dc155a-bb19-42bd-99a2-274a9e73e41e.png)

[2022-10-28 21:22] piotrpog opened #102 "Element list in control panel - color preview is not displaying corretly if selected option has more than one color"
Hi,
i created issue about it before, but i think i was misunderstood and issue was closed. What i meant is element index list, not the element edit page, where we see field widget. This is element index list with one of color options containing two colors:

![image](https://user-images.githubusercontent.com/42622545/198735020-6bdd0f38-7df4-4cc2-b27b-3f82329c72ac.png)

[2022-11-01 18:30] pixelmachine commented on #99
I was attempting to do something like this by doing the following in the config file. It works and shows the correct palettes but it seems to have trouble saving or something:

[code]

[2022-11-01 18:53] pixelmachine commented on #99
Actually I just figured it out I think.

You need to make a generic palette with ALL the options, then per site.

[code]

[2022-11-09 15:54] cookie10codes commented on #101
@piotrpog sorry for the late reply on this. I've fixed the table attribute and release 4.2.1, can you update the package to see if it's fixed on your end as well?

If something isn't working, re-open this issue please. Thank you!

Have a nice day

[2022-11-09 15:54] #101 closed, assigned to cookie10codes